###
# system SWAP, TMP and BACKUP files
###
*~
*.swp
*.bak

###
# Windows
###
Thumbs.db

###
# Mac OS X directory preferences
###
.DS_Store
._*

###
# System
###
_gsdata_
Application.cfc
index.cfm
blank.gif
empty.empty

###
# Sublime
###
sftp-config.json

###
# SCSS Files
###
.sass-cache/

###
# Project files
###
.codekit-cache/
config.codekit*

###
# Compiled files
###
admin.css
*.min.css
*.min.js
*.css.map
min/